<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
  <meta name="author" content="NSIDC CMR Team">
    <meta name="description" content="<%= description %>">

    <title><%= BaidData::App.project %></title>

  <!-- sensible default styles -->
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>

    <%= yield %>

    <script type="text/javascript">
        //Some Tracker
    </script>
  </body>
</html>
